<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="NombreEmpresa" value="Nuevo Generadores de XML 2.0"/>
		<add key="NombreArchivoXML" value="AcademiaYAlumnos.xml"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
			mode puede tener 3 valores
			RemoteOnly el usuario local ve la pagina por defecto, y el remoto
			ve la pagina aca indicada
			On todos los usuarios ven esta pagina de error
			Off todos los usuarios ven la pagina por defecto y no esta
			
      -->
		<customErrors mode="Off" defaultRedirect="~/PaginasDeErrores/ErroresGenericos.htm">
			<error statusCode="403" redirect="~/PaginasDeErrores/AccesoRestringido.htm"/>
			<error statusCode="404" redirect="~/PaginasDeErrores/PaginaNoEncontada.htm"/>
			<error statusCode="500" redirect="~/PaginasDeErrores/ServidorFueraDeServicio.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
